

body{
	background-color: #cccccc;
}
.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
	border-color: #007bff;
	width: 72px;
	margin-top:5px;
}
.table{
	width: 100%;
}

#btnListar{
	margin-top: 20px;
}